 /* لا تغير الكود التالي اكتب كودك تحته */
 .square {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 350px;
    background-color: black;
  }

  div{
    margin-left: auto;
    margin-right: auto;
  }
 

  p{
    color: orange;
    font-size: larger;
    text-align: center;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0.5px solid white;
    background-color: black;
    transition: all 0.5s ease-in-out;
  }

 
  .red:hover{
   background-color: red;
    
  }

  .yellow:hover{
    background-color: yellow;
  }

  .green:hover{
    background-color: green;
  }





  /* 👇 اكتب الكود هنا */

  img {
    width: 250px;
    margin-right:1080px;
  
    /* عدل على عرض الصورة */
  }